@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500|Montserrat:900");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  --blue-dianne: #233d4d;
  --spring-green: #a3ccab;
  --light-beige: #f4f1de;
  --sunset-orange: #fe5f55;

  --font-size-m: 11px;
  --font-size-l: 16px;
  --font-size-xl: 17px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 22px;
  --font-size-xxxxxl: 26px;

  --font-family-montserrat: "Montserrat";
  --font-family-roboto: "Roboto";
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #fe5f55;
}

p {
  margin-bottom: 0.6rem;
}

.svgGreen {
  stroke: #A3CCAB;
}

.svgBlue {
  stroke: #233D4D;
}

.stroke-one-point-five {
  stroke-width: 1.5;
}

.svgToOrange:hover {
  stroke: rgba(254, 95, 85, 1);;
}

.hoverOrange:hover {
  color: #FE5F55;
}

.markOrange {
  color: #FE5F55;
  background: none;
}

.projectBgWhite {
  background-color: rgba(255, 255, 255,0.9);
}

.blur {
  filter: blur(0.4rem);
}

/* Show and hide Hidden Menu */
.menuSlideIn {
  transform: translateX(100%);
  transition: ease-in-out 600ms;
}

.menuSlideOut {
  transform: translateX((-100%));
  transition: ease-in-out 600ms;

}

.navbar {
  background-color: rgb(163, 204, 171);
  transition: ease-in-out 200ms;

}

/* Projects Description */

.fadeIn {
  opacity: 1.00;
  transition: ease-in-out 200ms;
} 

.fadeOut {
  opacity: 0.00;
  transition: ease-in-out 200ms;
  visibility: hidden;

}


/* Sticky Navigation */
.navbar.down {
  opacity: 0.95;
  transform: translate3d(0, -100%, 0);
  position: fixed;
  /* top: -11%; */
  /* filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.3)); */
  transition: ease-in-out 300ms;
}

.navbar.up {
  opacity: 0.95;
  position: fixed;
  /* top: -11%; */
  filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.2));
  transition: ease-in-out 300ms;
}


