@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500|Montserrat:900");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  --blue-dianne: rgba(35, 61, 77, 1);
  --spring-green: rgba(163, 204, 171, 1);
  --light-beige: rgba(244, 241, 222, 1);
  --sunset-orange: rgba(254, 95, 85, 1);

  --font-size-m: 11px;
  --font-size-l: 16px;
  --font-size-xl: 17px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 22px;
  --font-size-xxxxxl: 26px;

  --font-family-montserrat: "Montserrat";
  --font-family-roboto: "Roboto";
}

* {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0.6rem;
}

.svgGreen {
  stroke: #A3CCAB;
}

.svgBlue {
  stroke: #233D4D;
}

.stroke-one-point-five {
  stroke-width: 1.5;
}

.svgToOrange:hover {
  stroke: rgba(254, 95, 85, 1);;
}

.hoverOrange:hover {
  color: #FE5F55;
}

.markOrange {
  color: #FE5F55;
  background: none;
}

